<!DOCTYPE html>
<html>
<head>
	<title> Infinity Table </title>
</head>
<body>
	<form action = 'https://api.particle.io/v1/devices/53ff70066667574832462567/setPattern?access_token=3e0eff8995da2e99f3c0a46a62cfd2ee61cd5e18' method = 'POST' >
		<input type = 'radio' name = 'args' value = 'strobe'> Strobe </input>
		<input type = 'radio' name = 'args' value = 'sprite'> Sprite </input>
		<input type = 'radio' name = 'args' value = 'snake'> Snake </input>
		<input type = 'radio' name = 'args' value = 'rainbow'> Rainbow </input>
		<input type = 'submit'>
	</form>
</body>
</html>